body,html {
    margin: 0;
    padding: 0;
    background-color: #282444;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: #068d06;

}    

.container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: 'Electrolize', sans-serif;
    font-size: 50px;
    background-color: #498AFB;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.controls {
    margin-top: 16px;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px 13px;
    margin-left: 4px;
    cursor: pointer;
}

.set-alarm {
    background-color: #1b5bc9;
}

.clear-alarm {
    background-color: #068d06;
}
